html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 45px;
}

.card-header {
    background-color: rgb(55, 167, 20);
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    text-align: center;
    width: 100%;
    background-color: #343A40;
    border-top: 5px solid rgb(234, 238, 14);
}

footer small {
    line-height: 40px;
    color: #D2B773;
    font-size: 12px;
}